# Exploratory notebook for data cleaning

Finding data cleaning steps needed for analysis

Once steps are found, code is put into functions and moved to subject_cleaning notebook in `notebooks` dir

In [2]:
#test statement

# data processing
import pandas as pd

#data viz
import matplotlib.pyplot as plt

bigmart = pd.read_csv('data/big_mart.csv')
bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

Replacing inconsitent values in `Item_Fat_Content`:


- to 'Low Fat`:
   - 'LF'
   - 'low fat'
   
   
- to 'Regular':
   - 'reg'

In [3]:
bigmart.Item_Fat_Content = bigmart.Item_Fat_Content.replace('low fat', "Low Fat")

bigmart.Item_Fat_Content = ['Low Fat' if val == 'LF' else val for val in bigmart.Item_Fat_Content] 

bigmart.Item_Fat_Content = bigmart.Item_Fat_Content.apply(lambda x: "Regular" if x=='reg' else x)

fat = bigmart.Item_Fat_Content

bigmart.Item_Fat_Content.where(fat != 'low fat', 'Low Fat', inplace=True)